<div class="container py-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <div class="heading">Get Things Done.</div>
      <button
        type="button"
        routerLink="create"
        class="create-task-button btn btn-light btn-lg"
      >
        + Create Tasks
      </button>
    </div>
    <div class="col-12">
      <hr class="horizontal-line" />
    </div>
    <div class="col-12 d-flex justify-content-between">
      <div class="input-group input-group-lg w-25">
        <input
          type="text"
          placeholder="Search"
          class="form-control"
          [ngModel]="search"
          (ngModelChange)="searchChangedHandler($event)"
        />
      </div>

      <select
        class="form-control form-control-lg w-25"
        [ngModel]="status"
        (ngModelChange)="statusChangedHandler($event)"
      >
        <option selected value="">No Status Filter</option>
        <option value="OPEN">Open</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="DONE">Done</option>
      </select>
    </div>
    <div class="col-12 my-5">
      <app-tasks-list [tasks]="tasks"></app-tasks-list>
    </div>
  </div>
</div>
